.nn-popup-button {
	color: #ededed;
	font-size: medium;
	text-align: center;
	background-color: #252525;
	border-radius: 5px;
	padding: 8px;
	width: 150px;
	transform: translateY(-100%);

	animation: fadeIn 0.2s;
	opacity: 1;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
